<!DOCTYPE html>
<html>
 <head>
   <title>Preguntas generales</title>
   <meta charset="UTF-8">
   <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h2> Quiz: El juego de las preguntas </h2>

       <%= respuesta %> <p>

       <a href="/quizes/question"> Intentelo otra vez </a>
 </body>
<html>
