
<table>
<% var i; for (i=0; i <quizes.length; i++) { %>
      <tr><td><a href="quizes/<%= quizes[i].id %>">
      <%= quizes[i].pregunta %></a></td><tr>
<% } %>
</table>
<!--
<form method="get" action="">
			Buscador de Preguntas:
			<input type="text" name="search" value="Escriba la pregunta"/>
			<input type="submit" value="Buscar">
</form>
-->
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
